/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// 全般 //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  font-family: "Courier", "Meiryo", "sans-serif";
 }

 button, input, select, textarea{
   font-family: inherit;
 }

 .flash{
   color :#008000;
 }

 .alert{
   color :#ff0000;
 }

// 両サイドを-で装飾する
 .both-line{
  position: relative;
  display: inline-block;
  padding: 0 55px;

  &:before, &:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
 }

// 左側に2本線が入った見出し
.two-line-heading {
  color: #000000; /* 文字色 */
  padding: 5px 5px 5px 30px; /* 上・右・下・左の余白 */
  position: relative;

  &:before {
    background-color: #696969; /* 左側の線の色 */
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 3px; /* 左端からの位置 */
    width: 5px; /* 左側の線の幅 */
    height: 100%;
  }

  &:after {
    background-color: #d3d3d3; /* 右側の線の色 */
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 12px; /* 左端からの位置 */
    width: 5px; /* 右側の線の幅 */
    height: 100%;
  }
}


// リンクの下線をアニメーションする
.link_animation{
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
  &:hover{
    color: #000000;
    text-decoration: none;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
  }
  &:hover:after{
    transform: translate(0, 0);
  }
}

// ふわっと浮き出した押せるボタン
.push_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #fff;
  position: relative;

  span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 0;
    transition-duration: 0.2s;
  }

  &:hover span{
    left: 0;
    top: 0;
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
  }
}

// シンプルなボタン
.btn-flat-success {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #228b22;
  border: solid 2px #228b22;
  border-radius: 3px;
  transition: .4s;
  &:hover{
    background: #228b22;
    color: white;
  }
}

// フェードイン //
.scroll-space{
  box-sizing: border-box;
  overflow: hidden;
}
.fadein {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
  &.fadein-left{
      transform: translate(-30px,0);
  }
  &.fadein-right{
      transform: translate(30px,0);
  }
  &.fadein-up{
      transform: translate(0,-30px);
  }
  &.fadein-bottom{
      transform: translate(0,30px);
  }
  &.scrollin{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

// 入力フォーム1
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }

  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    &:focus {
      outline: none;

      + .label {
        transform: translateY(-24px);
      }
    }

    &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
  }

  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }

  .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}

//ヘッダー//
//アイコン
.navbar-nav {
  position: relative;
  padding: 1.5rem 1rem;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
    background-image: -webkit-repeating-linear-gradient(
      135deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-image: repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.nav-item{
  display: block;
  padding: 0 10px;
  background:white;
  float:left;
  /* カーソルを離した際のアニメーションの速度調整 */
  transition:.2s all;
}

.nav-link{
  padding-top: 0;
}

.navbar:hover .nav-item{
  /* ナビゲーションをマウスオーバーした際のアニメーションの動きを指定 */
  opacity:.5;
  /* 全てのボタンが少し小さくなる */
  transform: scale(.98);

  &:hover{
    transition: .5s;
    /* hover時の速度調整 */
    transform:scale(1.2);
    /* hoverしたボタンのみサイズを拡大する指定 */
    opacity:1;
  }
}


//ハンバーガーメニュー
.navbar-toggler{
  border-color: #38305f;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,48,95,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//検索フォーム
.search_form{
  position       : relative;
  width          : 200px;              /* BOXの幅               */
  height         : 40px;               /* BOXの高さ             */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
}

.search_form_text{
  position       : absolute;
  display        : block;              /* ブロック化            */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 40px;               /* BOXの高さ             */
  width          : 100%;               /* テキスト入力の幅      */
  margin         : 0;                  /* 外余白                */
  padding        : 0 45px 0 8px;       /* 内余白                */
  border         : 2px solid #666;     /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 角丸                  */
  color          : #333;               /* 文字色                */
  font-size      : 18px;               /* フォントサイズ        */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
}

.search_form_btn{
  position       : absolute;
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 28px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  top            : 6px;                /* ボタン表示位置(上)    */
  right          : 6px;                /* ボタン表示位置(右)    */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 右上下の角丸          */
  background     : #666;               /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */

  &:hover{
    background    : #333;               /* フォーカス時の背景色  */
  }
}

// TOPページ//
//ローディング画面
.loading {
 	width: 100%;
 	height: 100%;
 	background: #d9d9d9;
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 20000;
}

//メイン画像
.main_visual{
  position: relative;
}

.main_visual_image_box{
  height: 500px;
  width: 100%;
}

.main_visual_image1{
  background-image: image-url('sample1.jpg');
}
.main_visual_image2{
  background-image: image-url('sample2.jpg');
}
.main_visual_image3{
  background-image: image-url('sample3.jpg');
}
.main_visual_image4{
  background-image: image-url('sample4.jpg');
}

.main_visual_top{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #ffffff transparent transparent transparent;
  z-index:100;
}
.main_visual_under{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #ffffff transparent;
  z-index:100;
}

.main_visual_title{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0;
  color: #444444;
  z-index: 101;

  & span{
    background-color: rgba(255,255,255,0.5);
  }
}


//メインの説明
.main_opinion{
  margin-top: 150px;
  margin-bottom: 100px;
}

// aboutページ
#about-mv{
  position: relative;
  top: 50%;
}


// aboutのmain画像
#amv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#amv ul li{
  list-style: none;
  padding: 0;
}

.img-fluid{
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.about-main{
  color: gold;
}

// 商品背景とコメント
.items_loop{
  margin-top: 200px;
  width: 100%;
  height: 700px;
  background-color: orange;
  position: relative;
  display: flex;
  align-items: flex-end;
  opacity: 0.7;
}

.view_comment{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-200px)
}

.items_loop::after {
    display: block;
    content: "";
    width: 220px;
    height: 388px;
    background-image: image-url('easy_icon01_pc.png');
    background-size: cover;
    position: absolute;
    left: 30px;
    top: 35px;
    z-index: 1;
}

.items_loop::before {
    display: block;
    content: "";
    width: 74px;
    height: 463px;
    background-image: image-url('easy_icon02_pc.png');
    background-size: cover;
    position: absolute;
    left: 230px;
    top: 83px;
    z-index: 1;
}

// 商品スライドショー
.loop_wrap {
  position: relative;
  display: flex;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
}

.loop_wrap ul {
  display: flex;
  list-style: none;
}

.loop_wrap ul li img{
  width:500px;
  height: 400px
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop_wrap ul:first-child {
  animation: loop 50s -25s linear infinite;
}

.loop_wrap ul:last-child {
  animation: loop2 50s linear infinite;
}

// 商品一覧画面のレイアウト

.items_image{
  width: 100%;
  height: 400px;
  background-image: image-url('cake_strawberry.jpeg');
  background-position: 0 -100px;
  position: relative;
}

.items_image h2{
  position: absolute;
  bottom: 0;
  left: 10px;
}

.item_image{
  width: 100%;
}

#item_detail:nth-child(2n+1){
  flex-direction: row;
}

#item_detail:nth-child(2n){
  flex-direction: row-reverse;
}

#item_detail{
  padding: 30px;
  border-bottom: 1px solid black;
}

.hover {
  position: relative;
}
.hover .hover-img {
  margin: 0;
  padding: 0;
}

.hover .hover-text {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.65);
  /*透明にして表示させない*/
  opacity: 0;
  /*ホバーの動き方*/
  transition: .3s ease-in-out;
}
.hover .hover-text .text1 {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 22px;
  padding: 10px 20px;
}
.hover .hover-text .text2 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  padding: 0 20px;
}
/*ホバーエフェクト*/
.hover:hover .hover-text {
  /*不透明にして表示*/
  opacity: 1;
}

.item_inf{
  position: relative;
}

.item_inf .to_item{
  position: absolute;
  bottom: 0;
  left: 0;
}

.item_inf .item_price{
  position: absolute;
  bottom: 50px;
  left: 5px;
  font-size: 30px;
}

.item_inf h4{
  position: absolute;
  top: 50px;
  left: 5px;
}

.main_visual_image5{
  background-image: image-url('choco.jpg')
}
.main_visual_image6{
  background-image: image-url('fruits.jpg')
}
.main_visual_image7{
  background-image: image-url('heart.jpg')
}
.main_visual_image8{
  background-image: image-url('thumb.jpg')
}


//フッター//
 footer{
   width :100%;
   text-align :center;
 }