/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


// 全般 //
 body{
  font-family: "Courier", "Meiryo", "sans-serif";
 }

 button, input, select, textarea{
   font-family: inherit;
 }

 .flash{
   color :#008000;
 }

 .alert{
   color :#ff0000;
 }

// 両サイドを-で装飾する
 .both-line{
  position: relative;
  display: inline-block;
  padding: 0 55px;

  &:before, &:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
 }

// リンクの下線をアニメーションする
.link_animation{
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
  &:hover{
    color: #000000;
    text-decoration: none;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
  }
  &:hover:after{
    transform: translate(0, 0);
  }
}

// ふわっと浮き出した押せるボタン
.push_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #fff;
  position: relative;

  span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 0;
    transition-duration: 0.2s;
  }

  &:hover span{
    left: 0;
    top: 0;
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
  }
}

// フェードイン //
.scroll-space{
  box-sizing: border-box;
  overflow: hidden;
}
.fadein {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
  &.fadein-left{
      transform: translate(-30px,0);
  }
  &.fadein-right{
      transform: translate(30px,0);
  }
  &.fadein-up{
      transform: translate(0,-30px);
  }
  &.fadein-bottom{
      transform: translate(0,30px);
  }
  &.scrollin{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

// 入力フォーム1
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }

  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    &:focus {
      outline: none;

      + .label {
        transform: translateY(-24px);
      }
    }

    &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
  }

  .label {
    position: absolute;
    left: 30%;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;

    @media screen and (max-width: 992px){
      left: 18%;
    }
  }

  .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}

//ヘッダー//
//アイコン
.navbar-nav {
  position: relative;
  padding: 1.5rem 1rem;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
    background-image: -webkit-repeating-linear-gradient(
      135deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-image: repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.nav-item{
  display: block;
  padding: 0 10px;
  background:white;
  float:left;
  /* カーソルを離した際のアニメーションの速度調整 */
  transition:.2s all;
}

.nav-link{
  padding-top: 0;
}

.navbar:hover .nav-item{
  /* ナビゲーションをマウスオーバーした際のアニメーションの動きを指定 */
  opacity:.5;
  /* 全てのボタンが少し小さくなる */
  transform: scale(.98);

  &:hover{
    transition: .5s;
    /* hover時の速度調整 */
    transform:scale(1.2);
    /* hoverしたボタンのみサイズを拡大する指定 */
    opacity:1;
  }
}


//ハンバーガーメニュー
.navbar-toggler{
  border-color: #38305f;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,48,95,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//検索フォーム
.search_form{
  position       : relative;
  width          : 200px;              /* BOXの幅               */
  height         : 40px;               /* BOXの高さ             */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
}

.search_form_text{
  position       : absolute;
  display        : block;              /* ブロック化            */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 40px;               /* BOXの高さ             */
  width          : 100%;               /* テキスト入力の幅      */
  margin         : 0;                  /* 外余白                */
  padding        : 0 45px 0 8px;       /* 内余白                */
  border         : 2px solid #666;     /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 角丸                  */
  color          : #333;               /* 文字色                */
  font-size      : 18px;               /* フォントサイズ        */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
}

.search_form_btn{
  position       : absolute;
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 28px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  top            : 6px;                /* ボタン表示位置(上)    */
  right          : 6px;                /* ボタン表示位置(右)    */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 右上下の角丸          */
  background     : #666;               /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */

  &:hover{
    background    : #333;               /* フォーカス時の背景色  */
  }
}

// TOPページ//
//ローディング画面
.loading {
 	width: 100%;
 	height: 100%;
 	background: #d9d9d9;
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 20000;
}

//メイン画像
.main_visual{
  position: relative;
}

.main_visual_image_box{
  height:500px;
  width: 100%;
}

.main_visual_image1{
  background-image: image-url('sample1.jpg')
}
.main_visual_image2{
  background-image: image-url('sample2.jpg')
}
.main_visual_image3{
  background-image: image-url('sample3.jpg')
}
.main_visual_image4{
  background-image: image-url('sample4.jpg')
}

.main_visual_top{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #ffffff transparent transparent transparent;
  z-index:100;
}
.main_visual_under{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #ffffff transparent;
  z-index:100;
}

.main_visual_title{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0;
  color: #444444;
  z-index: 101;

  & span{
    background-color: rgba(255,255,255,0.5);
  }
}


//メインの説明
.main_opinion{
  margin-top: 150px;
  margin-bottom: 100px;
}

//フッター//
 footer{
   width :100%;
   text-align :center;
 }