<div class="container mb-5">
  <div class="row">
    <div class="col-3">
      <%= render "public/homes/genre_search", genres: @genres %>
    </div>

    <div class="col-9">
      <%= render "items", items: @items %>
    </div>
  </div>
</div>
