<div class="container mb-5">
  <div class="row">
    <div class="col-3">
      <%= render "public/homes/genre_search", genres: @genres %>
    </div>

    <div class="col-9">
      <% if @genre %>
        <h2 class="mt-4 mb-4">ジャンル名（全<%= @items.count %>件）</h2>
      <% else %>
        <h2 class="mt-4 mb-4">商品一覧（全<%= @items.count %>件）</h2>
      <% end %>

    
      <%= render "items", items: @items %>

      
  </div>
</div>
